@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student System</h1>
    <br />
    <p>This web application was designed to store data associated with this institution, including student and course information.</p>
    <br />
    <p> To ensure that this application runs smoothly and without errors, please be patient and allow a wait time of up to 1 minute after entering data into the database.</p>
</div>
